{% extends "base.html" %}

{%block content%}
<div class="container-fluid mt-5" id="product-detail">
    <div class="row">
        <div class="col-1" id="photo-gallery">
            <ul>
                <li>
                    <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="gallery-photo img-thumbnail">
                </li>
                {% for gallery_image in product_gallery %}
                    <li>
                        <img src="{{gallery_image.image.url}}" alt="{{gallery_image.product.product_name}}" class="gallery-photo img-thumbnail">
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-3 main-photo">
            <img src="{{ product.product_image.url }}" alt="{{ product.name }}" id="main-photo" class="img-fluid w-100 main-photo">
        </div>
        <div class="col-5 information">
            <h3>{{ product.product_name }}</h3>
            <h5 class="mt-3 mb-3">About the product</h5>
            <div class="product-description">{{product.product_description}}</div>
        </div>
        <div class="col-3 cart-buy">
            <div class="cart-controls button-container card">
                <h3 class="price">${{ product.price }}</h3>
                {% if in_cart and cart_item_amount > 0 %}
                  <div class="quantity-selector">
                    <button class="minus-button"
                            data-product-id="{{ product.id }}">−</button>
                    <span class="quantity" data-product-id="{{ product.id }}">Amount: {{ cart_item_amount }}</span>
                    <button class="plus-button" 
                            data-product-id="{{ product.id }}">+</button>
                  </div>
                {% else %}
                  <button class="add-to-cart text-center" 
                          data-product-id="{{ product.id }}">
                    Add to cart
                  </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Reviews -->
    <div class="row mt-4">
        <div class="col-12">
            <h4>
                Customer Reviews
                <span>{{reviews_count}}</span>
                <span>
                    <i class="{% if rating < 0.5 %}fa-regular fa-star{% elif rating >= 0.5 and rating < 1 %}fa-solid fa-star-half-stroke {%else%}fa-solid fa-star {% endif %}" style="color: #FFD43B;"></i>
                    <i class="{% if rating < 1.5 %}fa-regular fa-star{% elif rating >= 1.5 and rating < 2 %}fa-solid fa-star-half-stroke {%else%}fa-solid fa-star {% endif %}" style="color: #FFD43B;"></i>
                    <i class="{% if rating < 2.5 %}fa-regular fa-star{% elif rating >= 2.5 and rating < 3 %}fa-solid fa-star-half-stroke {%else%}fa-solid fa-star {% endif %}" style="color: #FFD43B;"></i>
                    <i class="{% if rating < 3.5 %}fa-regular fa-star{% elif rating >= 3.5 and rating < 4 %}fa-solid fa-star-half-stroke {%else%}fa-solid fa-star {% endif %}" style="color: #FFD43B;"></i>
                    <i class="{% if rating < 4.5 %}fa-regular fa-star{% elif rating >= 4.5 and rating < 5 %}fa-solid fa-star-half-stroke {%else%}fa-solid fa-star {% endif %}" style="color: #FFD43B;"></i>
                </span>
            </h4>
            {% for review in reviews %}
            <div>
                <h6>{{review.user}}  {{review.rating}}</h6>
                {{review}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}