<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cart page</h1>
    {% for cart_item in cart_items %}
        <div class="product">
            <h3>{{ cart_item.product.product_name }}</h3>
            <span>Price: {{ cart_item.product.price }}</span>
            <img src="{{ cart_item.product.product_image.url }}" alt="{{ cart_item.product.product_name }}" width=160 >
            <span>Amount: {{cart_item.amount}}</span>
            <a href="{% url 'remove_from_cart' product_id=cart_item.product.id%}">Remove from cart</a>
        </div>
        {% endfor %}
</body>
</html>