/* Aside styles */
.categories_container ul{
    padding-left: 8px;
}
.aside_icon{
    margin-left: 8px;
    transition: all 0.4s;
}
.aside_link h6{
    margin-left: 8px;
}
.category_link{
   transition: all;
}
.form-group-section:last-of-type{
    margin-top: 12px;
    margin-bottom: 4px;
}
.aside_form .button-container button {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 12px;
}
.aside_checkbox{
    display: none;
}
.aside_label{
    color: black;
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    background-color: #EAEAEC;
    border-radius: 20px;
    margin-top: 8px;
    transition: all 0.5s;
}
.category_aside_label{
    transition: all 0.2s;
}
.aside_label:hover{
    background-color: #DADBDD;
}
.aside_checkbox:checked + .aside_label{
    background-color:#df0c0c;
    color: white;
}
.category_aside_checkbox:disabled + .aside_label{
    background-color:#3c3b3b;
    color: white;
}
/* Pagination styles */
.pagination_link{
    text-decoration: none;
    color: black;
}
.round_pagination_inactive, .round_pagination_active{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 20px;
    margin-left: 12px;
    border-radius: 50%;
    transition: background-color 0.5s;
}
.pagination_dots{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 20px;
    margin-left: 12px;
}
.round_pagination_inactive:hover{
    background-color: rgba(212, 212, 212, 0.926);
}
.round_pagination_active{
    background-color: #eb0606;
}
.round_pagination_active .pagination_link{
    
    color: white;
}
.rounds_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 12px;
}
