/*Registration*/
.window-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.register-container{
    margin: auto;
}
.register-container .card{
    border: 3px solid #df0c0c;
    border-radius: 8px;
}
.form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-register-link{
    text-decoration: none;
    color: blue;
}
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #df0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-submit:disabled{
    background-color: #26272d;
    color: white;
    border: none;
    border-radius: 5px;

}
/*Login*/
.form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}