{% extends "base.html" %}
{% block content %}
<div class="container auth-container">
    <div class="window-container card">
        <h2 class="text-center mb-4">Change password</h2>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
            
        <form action="{%url 'change_password'%}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old_password">Enter your password</label>
                <input type="password" id="old_password" class="form-field" name="old_password" required><br>
                <label for="new_password">Enter new password</label>
                <input type="password" id="new_password" class="form-field" placeholder="new_password" name="new_password" required><br>
                <label for="new_password_confirm">Confirm new password</label>
                <input type="password" id="new_password_confirm" class="form-field" placeholder="new_password_confirm" name="new_password_confirm" required><br>
            </div>
            <button type="submit" class="btn-submit">Continue</button>
        </form>
    </div>
</div>
{% endblock content %}