{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="auth-container">
        <h2 class="text-center mb-4">Change password</h2>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        
        <div>Enter new password</div>
            
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="password" class="form-field" placeholder="Password" name="new_password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-field" placeholder="Password confirmation" name="new_password_confirm" required>
            </div>
            <button type="submit" class="btn-submit">Continue</button>
        </form>
    </div>
</div>
{% endblock content %}