<form method="get" action="{% url 'search' %}" class="search-form">
    <input type="text" name="search" placeholder="Search products..." 
           value="{{ search_query|default:'' }}">
    <button type="submit">Search</button>
</form>


<h1>Our products</h1>

{% for product in products %}
    <a href="{% url 'detail_view' category_slug=product.category.slug product_slug=product.slug %}">
        <span class="product">
            <h3>{{ product.product_name }}</h3>
            <span>Price: {{ product.price }}</span>
            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" width=160 >
        </span>
    </a>
    <a href="{% url 'add_to_cart' product_id=product.id%}">Add to cart</a>
{% endfor %}

<!-- Простая пагинация -->
<div class="pagination">
    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">Back</a>
    {% endif %}
    
    <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
    
    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Forward</a>
    {% endif %}
</div>